.places {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

@media screen and (max-width: 1279px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    max-width: 768px;
    gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    max-width: 320px;
    gap: 50px;
  }
}